.bill-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.bill-header .left-pane {
  flex: 0 1 15em;
}

.bill-header .center-pane {
  flex: 1 0 20em;
}

.center-pane h1, h2, h3, p {
  text-align: center;
}

.bill-header .right-pane {
  flex: 0 1 15em;
}

#ribbon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1em;
}

#bill-metadata {
  display:  flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1em;
}

#billing-table input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.mini-table input {
  box-sizing: border-box;
  width: 100%;
}

.mini-table td {
  white-space: nowrap;
}

.sub-row td {
  text-align: right;
}
