body > nav {
  text-align: center;
}

body > nav > a {
  padding: 2px;
  margin: 2px;
}

body > nav > a:hover {
  background-color: blue;
  color:  white;
}

.numeric {
  width: 5em;
}

.main-table {
  border-collapse: collapse;
  width:  100%;
}

.main-table td, th {
  border: 1px solid black;
}

.main-table tr:nth-child(even) {
  background-color: #dddddd;
}

@media print {
  .dont-print {
	display: none !important;
  }
  body{
    -webkit-print-color-adjust: exact; /*chrome & webkit browsers*/
    color-adjust: exact; /*firefox & IE */
  } 
}
