<!doctype html>

<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Singhal Billing</title>
	<meta name="description" content="Billing System">
	<meta name="author" content="Sarthak">
	<link rel="stylesheet" href="{{css}}/main.css">
	<link rel="stylesheet" href="{{css}}/index.css">
	<script src="{{js}}/billing.js" defer></script>

  </head>

  <body>
	<nav class="dont-print">
	  <a href="/billing">Billing</a>
	  <a href="/inventory">Inventory</a>
	  <a href="/bills"</a>All Bills</a>
	</nav>
	<div class="bill-header">
	  <div class="left-pane">
		<p>Billing Information</p>
		<table class="mini-table">
		  <tbody>
			<tr>
			  <td>Bill No.</td>
			  <td><input id="billno-field" type="number" class="numeric" disabled/></td>
			</tr>
			<tr>
			  <td>Date</td>
			  <td><input id="date-label" type="text" disabled/></td>
			</tr>
		  </tbody>
		</table>
	  </div>

	  <div class="center-pane">
		<!-- <h2>Singhal Enterprises</h2> -->
		<!-- <p>Behind Town Hall, Datia - 475661</p> -->
		<h3>Estimate / Quotation</h3>
	  </div>

	  <div class="right-pane">
		<p>Customer Information</p>
		<table class="mini-table">
		  <tbody>
			<tr>
			  <td>Name</td>
			  <td><input id="customername-field" type="text"/></td>
			</tr>
			<tr>
			  <td>Mobile</td>
			  <td><input id="customermobile-field" type="text"/></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>

	<div id="ribbon" class="dont-print">
	  <button id="newbill-button">New Bill</button>
	  <button id="clearbill-button">Clear Bill</button>
	  <button id="savebill-button">Save Bill</button>
	</div>
	<table class="main-table" id="billing-table">
	  <tr>
		<th>S. No.</th>
		<th>Item Name</th>
		<th>Price (&#x20B9;)</th>
		<th>Discount (%)</th>
		<th>Net Rate (&#x20B9;)</th>
		<th>Qty</th>
		<th>Total (&#x20B9;)</th>
	  </tr>
	  <tr id="subtotal-row" class="sub-row">
		<td colspan=5><input type="button" value="Add New" class="dont-print"/></td>
		<td>Sub-Total &#x20B9;</td>
		<td></td>
	  </tr>
	  <tr class="sub-row">
		<td colspan=6>Extra Discount %</td>
		<td><input id="extradiscount-field" type="number"
		  class="numeric" min="0" max="100" value="0"/></td>
	  </tr>
	  <tr class="sub-row">
		<td colspan=6>Freight Charges &#x20B9;</td>
		<td><input id="freightcharges-field" type="number"
		  class="numeric" min="0" value="0"/></td>
	  </tr>
	  <tr class="sub-row">
		<td colspan=6>Other Charges &#x20B9;</td>
		<td><input id="extracharges-field" type="number"
		  class="numeric" min="0" value="0"/></td>
	  </tr>
	  <tr class="sub-row">
		<td colspan=6>Total &#x20B9;</td>
		<td id="finaltotal-field"></td>
	  </tr>
	</table>
	<datalist id="products-available">
	</datalist>
	<template id="row-template">
	  <tr>
		<td><span></span></td>
		<td><input name="purchase_name" type="text" list="products-available"/></td>
		<td><input name="purchase_price" type="number" min="1" step="0.1" class="numeric"/></td>
		<td><input name="purchase_discount" type="number" min="0" max="100" step="0.01" class="numeric"/></td>
		<td><span></span></td>
		<td><input name="purchase_qty" type="number" min="1" step="1" class="numeric"/></td>
		<td><span></span></td>
		<td class="dont-print"><input type="button" name="remove-row" value="Remove"/></td>
	  </tr>
	</template>
  </body>
</html>
